<style>
  body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
  
  .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crisp;
  }
  
  .axis text {
    font-family: sans-serif;
    font-size: 15px;
  }
</style>

<div ng-controller="scatterCtrl" ng-init="setup()">

 
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Filter Circles</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">

      <h4>Operator List</h4>
      <p ng-repeat="operator in operators">{{ operator }}</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
            
  <div>
    <svg id="scatter"></svg>
  </div>
  <div>
    <svg id="production_bar"></svg>
  </div>

</div>