<!-- <!DOCTYPE html> -->
<!-- <head> -->
  <!-- <meta charset="utf-8"> -->

  <style>
    /*body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }*/
    
    .axis path {
      fill: none;
      stroke: black;
      shape-rendering: crisp;
    }
    
    .axis text {
      font-family: sans-serif;
      font-size: 15px;
    }
    
  </style>
<!-- </head> -->

<!-- <body> -->
<div>
  <svg id="scatter"></svg>
</div>
<div>
  <svg id="production_bar"></svg>
</div>

<script>
  // Feel free to change or delete any of the code you see in this editor!
d3.json("http://localhost:3000/api/nd.json", scatter);
    
</script>
<!-- </body> -->