<script src='https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet' />
        
<style>
  /*body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }*/
  .operatorName {
    /*color: black;*/
  }

  .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crisp;
  }
  
  .axis text {
    font-family: sans-serif;
    font-size: 15px;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 85px;
    padding: 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    z-index: -1;
  }

  #map{ 
    height: 75%;
    width: 75%;
  }

</style>

<div ng-controller="scatterCtrl" ng-init="setup()">

  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modalFilter">Filter</a>

  <!-- Modal Structure -->
  <div id="modalFilter" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
      <div class="col s8">
        <h5>Oil Companies</h5>
        <div ng-repeat="operator in completeOperatorList | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending"> 
        <input type="checkbox" class="operatorList" id="{{ operator.id }}" ng-model="operator.checked"/> 
        <label for="{{ operator.id }}", class="operatorName">{{ operator.name }} ( {{ operator.wellCount }} )</label>
      </div>
      </div>
      <div class="col s4">
        <div>
          <h5>Filter Options</h5>
          <p>Search by:</p>
          <input placeholder="Company name" ng-model="nameFilter">
        </div>
        <div>
          <p>Sort by:</p>
          <form action="#">
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorName" ng-click="setOrderAttribute('name')"/>
              <label for="operatorName">Name</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorWellCount" ng-click="setOrderAttribute('wellCount')"/>
              <label for="operatorWellCount">Number of wells</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorId"  ng-click="setOrderAttribute('id')"/>
              <label for="operatorId">Date of first well</label>
            </p>
          </form>
        </div>
          <div>
            <form action="#">
            <p class="range-field">
              <input type="range" id="slider" min="0" max="1000"/>
            </p>
          </form>
          </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
  </div>
          
            
  <div>
    <svg id="scatter"></svg>
  </div>
  <div>
    <svg id="production_bar"></svg>
  </div>
  <div id="map"></div>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoienVrZXRoZW51a2UiLCJhIjoiY2lzZXl4bzkzMDBkazJzbnZpM2VtaDBqZyJ9.dG7pNd-7WKeW_3rEcq6Iqg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
  });
</script>
</div>