<style type="text/css">

  .node, .link {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
    display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
    display: none;
  }

  #tree-container {
    opacity: 0.9;
    position: relative;
    width: 90%;
    margin: auto;
  }

  

</style>

<!-- Readme Modal Structure -->
<div id="readMe" class="modal">
  <div class="modal-content">
    <h4>What is a Rig Tree?</h4>
    <p>Below is an expandable tree.  Data for the visualization encompasses 2006 through 2016.  
       The root of the tree is a list of all the oil companies drilling wells in North Dakota.  The tree expands to show 
       all the drilling companies contracted with each oil company, each rig belonging to the drilling contractor, 
       and each well the particular rig drilled for that oil company.</p>
    <p>There is a total of 6825 leaves on the end of the tree.  If you press "Expand All" it will seriously bog your browser down!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat play">Ok</a>
  </div>
</div>

<div class="rig-image" style="background: image-url(<%= asset_path 'DSCN0234-min.JPG' %>); width: 100%; height: 800px; background-size: cover; background-repeat: no-repeat;">
  <div id="tree-container">
    <h1>Rig Tree!!</h1>
    <img class='loading-gif' src="<%= asset_path 'blow_out.gif' %>" alt="" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div id="option">
      <input name="updateButton" 
        id="collapse-button"
        type="button" 
        value="Collapse All"/>
      <input name="updateButton" 
        id="expand-button"
        type="button" 
        value="Expaned All"/>
    </div>
  </div>
</div>
</div>
<script>
  makeTree(function() {
    $(".loading-gif").fadeOut("slow");

    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '4%', // Starting top style attribute
        ending_top: '10%' // Ending top style attribute
      });
      $('#readMe').openModal();
    });

  });
  
</script>
