
        
<style>
  /*body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }*/
  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 70%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }

  .container {
    width: 90%;
  }
  
  .xAxis path {
    fill: none;
    stroke: black;
    shape-rendering: crisp;
  }
  
  .xAxis text {
    font-family: sans-serif;
    font-size: 15px;
  }

  .yAxis path {
    fill: none;
    stroke: black;
    shape-rendering: crisp;
  }
  
  .yAxis text {
    font-family: sans-serif;
    font-size: 15px;
  }

  circle {
    fill: white;
    stroke: lightgrey;
    stroke-width: 1;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 85px;
    padding: 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    /*z-index: -1;*/
    pointer-events: none;
  }

  #googleMap {
        height: 800px;
        width: 800px;
  }

</style>

<!-- Readme Modal Structure -->
<div id="readMe" class="modal">
  <div class="modal-content">
    <h4>What am I looking at?</h4>
    <p>This page contains the majority of the application.
       Below is a scatter plot animation.  Each circle represents an individule 
       well drilled in North Dakota.</p>
    <p>When you press the "Ok" button the animation will begin.  The animation shows every well drilled between 
       1952 and 2015.  Since little changed in the first 50 years, I skipped by 5 until the year 2000.  The animation
       can be paused and resumed.  Refresh the page to start over from the beginning.</p>

    <ul class="container">
      <li><i class="material-icons">info</i>Press "Ok" to begin animation</li>
      <li><i class="material-icons">info</i>Hover over a circle to see more info and a detailed graph of the wells production life</li>
      <li><i class="material-icons">info</i>After the animation finishes, click any where on the graph to see 100 random wells.</li>
      <li><i class="material-icons">info</i>Press on the "Search" button to search by company</li>
      <li><i class="material-icons">info</i>Press the "Rig Tree" button in the top right corner</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat play">Ok</a>
  </div>
</div>


<div class="row">

<div ng-controller="scatterCtrl" ng-init="setup()">

  <!-- Filter Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modalFilter">Search</a>

  <!-- Filter Modal Structure -->
  <div id="modalFilter" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
      <div class="col s8 m8">
        <h5>Oil Companies</h5>
        <div ng-repeat="operator in completeOperatorList | filter: {name: nameFilter} | filter: greaterThan(operatorNameSlider.minValue) | filter: lessThan(operatorNameSlider.maxValue) | orderBy:orderAttribute:isOrderDescending"> 
        <input type="checkbox" class="operatorList" id="{{ operator.id }}" ng-model="operator.checked"/> 
        <label for="{{ operator.id }}", class="operatorName">{{ operator.name }} ( {{ operator.wellCount }} )</label>
      </div>
      </div>
      <div class="col s4 m4">
        <div>
          <h5>Filter Options</h5>
          <p>Search by:</p>
          <input placeholder="Company name" ng-model="nameFilter">
        </div>
        <div>
          <p>Sort by:</p>
          <form action="#">
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorName" ng-click="setOrderAttribute('name')"/>
              <label for="operatorName">Name</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorWellCount" ng-click="setOrderAttribute('wellCount')"/>
              <label for="operatorWellCount">Number of wells</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="operatorId"  ng-click="setOrderAttribute('id')"/>
              <label for="operatorId">Date of first well</label>
            </p>
          </form>
        </div>
        <div>
          <rzslider rz-slider-model="operatorNameSlider.minValue"
                    rz-slider-high="operatorNameSlider.maxValue"
                    rz-slider-options="operatorNameSlider.options">
          </rzslider>
        </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
  </div>
  <div class="row">
    <div class="col m12 l7">
      <div class='row'>
        <div class='col s12 m9 l9'>
          <button class="play">Play</button>
          <button class="pause">Pause</button>
          <div>
            <svg id="scatter"></svg>
          </div>
          <div>
            <svg id="production_bar"></svg>
          </div>

        </div>
        <div class='col sm12 m3 l3'>
          <img src="<%=  asset_path 'legend.jpg' %> " alt="" style="width: 300px;">
        </div>
      </div>
    </div>
      <div class='col m12 l5'>
          <div id="googleMap">
          </div>
      </div>

  </div> 
</div>
</div>        

        