// Place all the styles related to the NdWells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rig-image {
  background: image-url('DSCN0234-min.JPG');
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}


